.fontbody {
  font-family: Arial;
  background-color: lightblue;
  
}

.tablestyle {
  border: 1px solid black;
  background-color: grey;
  
}

table, th, td {
  border: 1px solid black;
  background-color: grey;
}


h1 {
  text-align: center;
}

h1 {
  background-color: darkblue;
  color: white;
  
}

h2 {
  background-color: darkblue;
  color: white;

}

h3 {
  border-left: 10px solid blue;
}


.textexample {
  font: italic 18px courier ;
  padding: 25px;
  text-align: center;
  background-color: white;
}



.textdisplay {
  font-style: italic;
  font-size: 18px;
  font-family: Courier;
  padding: 25px;
  text-align: center;
  background-color: white;
  color: black;
}





