
* {
    box-sizing: border-box;
}


body {
  margin: 0;
}

/* Background Picture*/
html { 
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-392151.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Table Style*/
table, th, td {
  border: 1px solid black;
  font: bold 15px Arial;
  background-color: white;
}



/* Header Style */
.header {
    background-color: orange;
    padding: 20px;
    text-align: center;
}



/* Topnav Style*/
.topnav {
    overflow: hidden;
    background-color: darkblue;
    text-align: center;
}

/* Topnav Links Style */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 16px;
}

/* Hover Color*/
.topnav a:hover:not(.active) {
    background-color: black;
    color: white;
}

/* Active Page Style*/
#activepage {
    background-color: orange;
}


/* Floating Columns Style */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive Floating */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


/* Content Styles*/
h1 {
  color: darkblue;
  font-size: 32px;
}

h2 {
  color: darkblue;
  font-size: 22px;
  text-align: center;
}

p {
  font-size: 16px ;
}

.parabackground {
  background-color: lightgray;
  padding: 17px;
}



/* Footer Style*/
.footer {
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: darkblue;
}
