* {
    box-sizing: border-box;
}


body {
  margin: 0;
  padding; 20;
}


html { 
  background: url(https://images-na.ssl-images-amazon.com/images/I/71t9j%2BuDRsL._SY355_.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the header */
.header {
    background-color: orange;
    padding: 20px;
    text-align: center;
}



/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: darkblue;
    text-align: center;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 16px;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: black;
    color: white;
}

/* indicate active page on nav */
#activepage {
    background-color: orange;
}



.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 27%;
}

/* Middle column */
.column.middle {
    width: 46%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}



h1 {
  color: darkblue;
  font-size: 32px;
}

h2 {
  color: darkblue;
  font-size: 22px;
  text-align: center;
}

p {
  font-size: 16px ;
}

.parabackground {
  background-color: lightgray;
  padding: 17px;
}



/* Style the footer */
.footer {
    background-color: orange;
    padding: 10px;
    text-align: center;
    color: darkblue;
}
